.about {
    color: var(--heron);
    font-family: "Sentinel A, Sentinel B, Georgia, Helvetica Neue, Arial, sans-serif";
    /* background-color: #f8faf0; */
}

.about-title {
    font-size: 75px;
}

.list {
    font-size: 25px;
}

.skills-icons {
    height: 50px;
    width: 50px;
}