.contact {
  font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
  color: var(--heron);
}

#nameError {
    display: none;
    font-size: 0.8em;
  }
  
  #nameError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: var(--yellow);
  }