:root {
    --heron: #446389;
    --light: #f8faf0;
    --yellow: #FFC47B;
    --grayBlue: #b5d2dd;
  }

.header {
    /* background-color: #71c1e8; */
    background-color: var(--grayBlue);

    /* height: 200px; */
    /* color: #F5F4F1; */
    color: var(--light);
    /* color: #446389; */
    font-family: "Sentinel A, Sentinel B, Georgia, Helvetica Neue, Arial, sans-serif";
}

.titleStyle {
    font-size: 4em;
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
} 

.subtitleStyle {
    font-size: 30px;
    /* color: #41455B; */
    /* color: #f8faf0; */
    color: var(--heron);

}

.footer-link {
    color: var(--grayBlue);
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    color: var(--light);
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
    background-color: var(--heron);
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: var(--light);
}

#content-wrap {
    padding-bottom: 2.5rem;
    background-color: var(--light);
}
