:root {
    --heron: #446389;
    --light: #f8faf0;
    --yellow: #FFC47B;
    --grayBlue: #b5d2dd;
  }

.header {
    background-color: var(--grayBlue);
    color: var(--light);
    font-family: "Sentinel A, Sentinel B, Georgia, Helvetica Neue, Arial, sans-serif";
}

.titleStyle {
    font-size: 4em;
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
} 

.subtitleStyle {
    font-size: 30px;
    color: var(--heron);
}

.footer-link {
    color: var(--grayBlue);
    text-decoration: none;
    font-size: 25px;
}

#footer {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    height: 2.5rem;  
    color: var(--light);
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
    background-color: var(--heron);
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--light);
}

#content-wrap {
    padding-bottom: 2.5rem;
    background-color: var(--light);
}
