.header {
    background-color: #52aac6;
    /* height: 200px; */
    color: #F5F4F1;
    font-family: "Sentinel A, Sentinel B, Georgia, Helvetica Neue, Arial, sans-serif";
}

.titleStyle {
    font-size: 4em;
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
} 

.subtitleStyle {
    font-size: 30px;
    color: #41455B;
}

.footer-link {
    color: #52aac6;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    color: #41455B;
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
    background-color: #41455B;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}
