.nav {
    background-color: var(--heron);
    color: var(--light);
}

.nav li :hover {
    background-color: var(--yellow);
    color: var(--heron);
}

.nav li a {
    color: var(--light) !important;
}

.active {
    background-color: var(--yellow) !important;
    color: var(--heron) !important;
}

.nav-link :active {
    color: var(--heron) !important;
}
